.header {
    padding: 15px 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-logo {
    display: flex;
    direction: row;
    align-items: center;
}

.header-logo img {
    height: 50px;
}

.header-menu{
    display: flex;
    direction: row;
    column-gap: 50px;
    align-items: center;
}

.header-right{
    display: flex;
    direction: row;
    column-gap: 50px;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;
}
.header-info h4 {
    margin-left: 10px;
}
